In [1]:
# Ques No. - 01. Print nmber from 1 to 5 ing a while loop.

In [2]:
# Initialize the counter
counter = 1

# Print numbers from 1 to 5 using a while loop
while counter <= 5:
    print(counter)
    counter += 1

1
2
3
4
5

In this code:

We initialize a variable counter to 1.
The while loop runs as long as the value of counter is less than or equal to 5.
Inside the loop, we print the value of counter and then increment it by 1 using counter += 1. This ensures that the loop will eventually terminate when counter becomes greater than 5.

In [3]:
#Ques no. 02. Calclate the sum of number from 1 to 10 ing a while loop.

It seems like there might be a typo in your request. Did you mean to ask how to calculate the sum of numbers from 1 to 10 using a while loop? If so, here's how you can do it:

In [4]:
# Initialize variables
total = 0
number = 1

# Calculate the sum of numbers from 1 to 10 using a while loop
while number <= 10:
    total += number
    number += 1

# Print the result
print("The sum of numbers from 1 to 10 is:", total)

The sum of numbers from 1 to 10 is: 55

In this code:

We initialize two variables: total to store the running sum, and number to keep track of the current number being added.
The while loop continues as long as number is less than or equal to 10.
Inside the loop, we add the value of number to total and then increment number by 1.
After the loop, we print the final value of total, which represents the sum of numbers from 1 to 10.

In [10]:
# Ques no. - 03 Calclate the factorial of a nmber ing a for loop.

Sure, i can calculate the factorial of a number using a for loop. The factorial of a non-negative integer 
�
n, denoted by 
�
!
n!, is the product of all positive integers less than or equal to 
�
n. Here's how i can do it:

In [6]:
# Function to calculate factorial using a for loop
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example usage
number = 5
factorial_of_number = factorial(number)
print("The factorial of", number, "is:", factorial_of_number)

The factorial of 5 is: 120

In this code:

We define a function factorial(n) that takes an integer n as input and returns its factorial.
Inside the function, we initialize a variable result to 1. This will store the running product.
We use a for loop to iterate from 1 to n (inclusive).
Inside the loop, we multiply result by the current value of i.
After the loop, we return the final value of result, which represents the factorial of n.
We demonstrate the usage of the function by calculating the factorial of the number 5 and printing the result.

In [7]:
# Ques no. -04 Count the number of vowel in a string using a for loop.

In [9]:
# Function to count the number of vowels in a string
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print("The number of vowels in the string is:", vowel_count)

The number of vowels in the string is: 3

In this code:

We define a function count_vowels(string) that takes a string string as input and returns the count of vowels in the string.
Inside the function, we initialize a variable vowels with all the vowels (both lowercase and uppercase).
We initialize a variable count to store the count of vowels.
We use a for loop to iterate over each character in the string.
Inside the loop, we check if the current character char is in the vowels string. If it is, we increment the count variable.
After the loop, we return the final value of count, which represents the number of vowels in the string.
We demonstrate the usage of the function by counting the vowels in the input string "Hello, World!" and printing the result.

In [11]:
# Ques No. - 05. Print a pattern using nested loop.

In [12]:
# Function to count the number of vowels in a string
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print("The number of vowels in the string is:", vowel_count)

The number of vowels in the string is: 3

This code will print the following pattern:

In [13]:
*
* *
* * *
* * * *
* * * * *

SyntaxError: invalid syntax (2127605721.py, line 1)

In this pattern:

The outer loop (for i in range(1, rows + 1)) iterates over each row.
The inner loop (for j in range(1, i + 1)) iterates over each column within the current row.
Inside the inner loop, print("*", end=" ") prints a star (*) without moving to the next line.
After printing all the stars in the current row, print() is used to move to the next line and start the next row.

In [14]:
# Ques No. - 06. Generate a multiplication table using neted loop.

In [15]:
# Define the range of numbers for the multiplication table
start = 1
end = 10

# Outer loop for rows
for i in range(start, end + 1):
    # Inner loop for columns
    for j in range(start, end + 1):
        # Calculate the product and print it with formatting
        product = i * j
        print(f"{i} * {j} = {product}", end="\t")
    # Move to the next line after printing each row
    print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10	
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20	
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30	
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40	
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50	
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60	
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70	
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80	
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90	
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100